@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&display=swap');

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* HEADER */

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(48, 208, 208, 0.5) 0%, rgba(51, 8, 104, 0.5) 100%), url(../assets/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head p{
    padding-bottom: 3rem;
}

.titulo{
    margin-bottom: 1rem;
    text-align: center;
}

.subtitulo{
    color: #012345;
}

/* NAVBAR */

.logo{
    height: 8vh;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    margin-right: 2rem;
}

.logo-img{
    height: 6vh;
    background-size: cover;
    height: 2.3rem;
}

.logo h4{
    height: 2vh;
}

.hamburger{
    display: none;
}

.hamburger div{
    width: 25px;
    height: 4px;
    background-color: #000000;
    margin: 5px;
}

.nav{
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40vw;
    list-style: none;
}

.nav-links a{
    letter-spacing: 3px;
    font-weight: bold;
    color: #f2f2f2;
    -webkit-text-stroke: 2px #6c63ff;
}

.nav-links a:hover{
    color:#789fff;
    font-size: 1.1rem;
    -webkit-text-stroke: 2px #ff6584;
}

/* SERVICIOS */

.servicios{
    height: 100vh;
    padding-top: 1rem;
    overflow: hidden;
}

.contenedor-servicio{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.n-service{
    margin-bottom: 7px;
    color: #a18cd1;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-weight: 700;
    margin-right: 5px;
}

.spread{
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

/* GALERIA */

.gallery{
    width: 100%;
    height: 100vh;
    background: #f2f2f2;
    overflow: hidden;
}

.contenedor-gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-gallery{
    object-fit: cover;
    display: block;
    margin: 20px 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.imagen-light{
    object-fit: cover;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
    transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
}

.agregar-imagen{
    width: 60%;
    border-radius: 10px;
    object-fit: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: transform .3s .2s;
    -webkit-transition: transform .3s .2s;
    -moz-transition: transform .3s .2s;
    -ms-transition: transform .3s .2s;
    -o-transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/* EXPERTOS */

.experto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-experto{
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.cont-experto img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
    line-height: 1rem;
}

/* FOOTER */

footer{
    margin-top: 6rem;
    background: rgba(159, 138, 208, 0.61);
    padding-bottom: 0.1px;
    height: 24vh;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #ffffff;
}

.brand{
    font-weight: 500;
    font-size: 35px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.social-media h4{
    font-size: 1rem;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
}

.social-media-icon img{
    padding-top: 6px;
}

.social-media-icon:hover{
    background: #ffffff;
    color: #f18cd1;
}

.line{
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    height: 2px;
    background: #ffffff;
    margin-bottom: 60px;
}

/* MOBILE FIRST */

@media screen and (max-width: 896px) /*en vez de 768*/ {

    .hamburger{
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
    }

    .hamburger div{
        width: 2rem;
        height: 4px;
        background-color: #000000;
        margin: 0.25rem;
    }

    .nav{
        width: 100vw;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: #e1eec3;
        background: -webkit-linear-gradient(to right, #f05053, #e1eec3);
        background: linear-gradient(to right, #f05053, #e1eec3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 60vw;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: transform 0.5s ease-in;
        -webkit-transition: transform 0.5s ease-in-out;
        -moz-transition: transform 0.5s ease-in;
        -ms-transition: transform 0.5s ease-in;
        -o-transition: transform 0.5s ease-in;
}

    .nav-links a{
        text-decoration: none;
    }

    .logo{
        position: absolute;
        left: 1rem;
        top: 1.5rem;
        display: flex;
        max-height: 8vh;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 22px;
        margin-right: 2rem;
        margin-top: 0.3rem;
        align-items: center;
        flex-direction: column;
    }
    
    .logo-img{
        background-size: cover;
        height: 1.5rem;
    }
    
    .logo h4{
        font-size: 0.5rem;     
    }

    .titulo{
        font-size: 2rem;
    }

    .subtitulo{
        padding-top: 1rem;
        text-align: center;
        font-weight: 300;
        font-size: 2.5rem;
    }

    .services{
        margin-bottom: 10px;
    }

    .contenedor-servicio{
        justify-content: center;
    }

    .contenedor-servicio img{
        height: 15vh;
        margin-bottom: 20px;
        width: 80%;
    }

    .checklist-servicio{
        height: 15vh;
        width: 80%;
    }

    .n-service{
        font-size: 1rem;
    }

    .number{
        width: 1.2rem;
        height: 1.2rem;
    }

    .contenedor-gallery{
        padding-top: 1rem;
        width: 90%;
        padding-left: 2.2rem;
    }

    .img-gallery{
        margin-right: 0.1rem;
        width: 45%;
        height: 16vh;
    }

    .cont-experto{
        width: 60%;
    }

    footer{
        height: 30vh;
    }
}

/* TABLET -- decidi 1024 en vez de 768*/


@media screen and (max-width: 1024px){
    .hamburger{
        top: 1rem;
        right: 1rem;
      }
    /*
    .nav{
        width: 60vw;
        height: 100vh;
        background: #e1eec3;
        background: -webkit-linear-gradient(to right, #f05053, #e1eec3);
        background: linear-gradient(to right, #f05053, #e1eec3);
        z-index: 100;
        transition: transform .3s ease-in-out;
        -webkit-transition: transform .3s ease-in-out;
        -moz-transition: transform .3s ease-in-out;
        -ms-transition: transform .3s ease-in-out;
        -o-transition: transform .3s ease-in-out;
        transform: translate(110%);
        -webkit-transform: translate(110%);
        -moz-transform: translate(110%);
        -ms-transform: translate(110%);
        -o-transform: translate(110%);
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }
    */
    .titulo{
        text-align: center;
        padding-right: 1rem;
        padding-left: 3rem;
    }
}

/* DESKTOP */

@media screen and (min-width: 1024px){
    
    .nav{
        padding-top: 1rem;
        width: 100vw;
        min-height: 8vh;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links{
        margin-left: 3rem;
        list-style: none;
        display: flex;
    }

    .nav-links a{
        padding-right: 3rem;
        padding-top: 1.2rem;
        letter-spacing: 5px;
        font-weight: bold;
    }

    .titulo{
        font-size: 3rem;
    }

    .subtitulo{
        padding-top: 5rem;
        text-align: center;
        font-weight: 300;
        font-size: 3rem;
    }

    .services{
        margin-bottom: 20px;
    }

    .contenedor-servicio{
        padding-top: 4rem;
        justify-content: space-evenly;
    }

    .contenedor-servicio img{
        width: 40%;
    }

    .checklist-servicio{
        width: 50%;
    }

    .number{
        width: 1.5rem;
        height: 1.5rem;
    }

    .img-gallery{
        width: 24%;
        height: 36vh;
    }

    .cont-experto{
        width: 30%;
    }
}

.nav-active{
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -moz-transform: translate(0%);
    -ms-transform: translate(0%);
    -o-transform: translate(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}
